---
layout: base
---
{% assign place = site.data.places|where: "code", page.place_code|first %}

<header>
  <div class="container">
    <div class="header-content">
      <h1>IMO</h1>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>Conventions</h4>

        <table class="table table-sm table-hover">
          <thead class="thead-light">
            <tr>
              <th>Title</th>
              <th>Adopted</th>
              <th>Commenced</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>International Convention for the Prevention of Pollution from Ships (MARPOL)</b></td>
              <td>1973-11-02</td>
              <td>1983-10-02</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td colspan="4"><i>Amendments</i></td>
            </tr>
            <tr>
              <td class="pl-3">1978 Protocol</td>
              <td>1978</td>
              <td>1983-10-02</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="pl-3">1997 Protocol</td>
              <td>1997</td>
              <td>2005-05-19</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="pt-3" colspan="4"><b>Annexes</b></td>
            </tr>
            <tr>
              <td>Annex I</td>
              <td>1978</td>
              <td>1983-10-02</td>
              <td></td>
            </tr>
            <tr>
              <td>Annex II</td>
              <td>1978</td>
              <td>1983-10-02</td>
              <td></td>
            </tr>
            <tr>
              <td>Annex III</td>
              <td></td>
              <td>1992-07-01</td>
              <td></td>
            </tr>
            <tr>
              <td>Annex IV</td>
              <td></td>
              <td>2003-09-27</td>
              <td></td>
            </tr>
            <tr>
              <td>Annex V</td>
              <td></td>
              <td>1988-12-31</td>
              <td></td>
            </tr>
            <tr>
              <td><a href="/akn/un/act/conv/imo/1997/marpol-annex-vi/eng/">Annex VI</a></td>
              <td>1997</td>
              <td>2005-05-19</td>
              <td>2020-10-01</td>
            </tr>
            <tr>
              <td class="pl-3" colspan="4"><i>Amendments</i></td>
            </tr>
            <tr>
              <td class="pl-3"><a href="/akn/un/statement/deliberation/mepc/2016-10-28/278-70/eng/">Resolution MEPC.278(70)</a></td>
              <td>2016-10-28</td>
              <td>2018-03-01</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="pl-3">Resolution MEPC.296(71)</td>
              <td>2017-07-07</td>
              <td>2019-01-01</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="pl-3">Resolution MEPC.305(73)</td>
              <td>2018-10-26</td>
              <td>2020-03-01</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="pl-3">Resolution MEPC.316(74)</td>
              <td>2019-05-17</td>
              <td>2020-10-01</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <h4>Resolutions</h4>

        <table class="table table-sm table-hover">
          <thead class="thead-light">
            <tr>
              <th>Title</th>
              <th>Adopted</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/akn/un/statement/deliberation/imo/2017-12-06/a-1126-30/eng/">Resolution A.1126(30) - Linkages Between the Technical Assistance Work of IMO and the 2030 Agenda for Sustainable Development</a></td>
              <td>2017-12-06</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <h5>Revoked</h5>

        <table class="table table-sm table-hover">
          <thead class="thead-light">
            <tr>
              <th>Title</th>
              <th>Adopted</th>
              <th>Revoked</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/akn/un/statement/deliberation/imo/2007-11-20/a-1006-25/eng/">Resolution A.1006(25) - The Linkage Between the Integrated Technical Co-Operation Programme and the Millennium Development Goals</a></td>
              <td>2007-11-20</td>
              <td>2017-12-06</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
